.grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  margin-top: 1rem;
  margin-left: 8vw;
}

.grid img{
  justify-items: center;
}

.grid ul{
  padding: 0px;
  list-style: none;
  grid-column: 2;
}

.grid li{
  font-size: 1.2rem;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0.8rem;
}

.grid li::before{
  content: '';
  display: inline-block;
  width: 20px;
  height: 2px;
  background: #ddd;
  margin-right: 10px;
}

.grid{
  transform: translateX(-20px);
  opacity: 0;
  animation: grid .3s forwards;
}
@keyframes grid {
  to{
    transform: initial;
    opacity: initial;
  }
}