
.main{
  display: flex;
}


.loading{
  justify-content: center;
  margin: 10% auto;
}

.container{
  margin-top: 1rem;
  gap: 1rem;
  display: grid;
  grid-template-columns: 0.5fr 0.5fr;
  transform: translateX(-20px);
  animation: container 0.3s forwards;
  justify-items: center;
  margin-left: 8vw;
  margin-right: 8vw;
}

@keyframes container{
  to{
    opacity: initial;
    transform: initial;
  }
}

.foto{
  grid-column: 1
}

.titulo, .preco, .descricao{
  grid-column: 2;
}
.titulo{
  font-size: 2rem;
   
}
.preco{
  border-radius: 6px;
  background-color: #cbd5c0;
  width: fit-content;
  text-align: center;
}

.descricao{
  font-size: 1.25rem;
}